@import "tabs.css";

h1, h2, p, button, th {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upgradebtn {
  background: #E0E0E0;
  font-weight: bold;
  border: 2px solid #49CC80;
  border-radius: 4px;
  transition-duration: 0.2s;
}

.upgradebtn:enabled:not(.upgradebtn--purchased) {
  color: #49CC80;
}

.upgradebtn:enabled:hover:not(.upgradebtn--purchased) {
  color: #F0F0F0;
  cursor: pointer;
  background: #29AC60;
  border: 2px solid #29AC60;
}

.upgradebtn--purchased {
  color: #F0F0F0;
  background: #49CC80;
  font-weight: bold;
  border: 2px solid #49CC80;
  border-radius: 4px;
}

.upgradecol {
  width: 25%;
}
